<h1>New York City -- All Historical Landmarks</h1>

<% Landmark.all.each.with_index(1) do |landmark, index| %>
  <p>
    <%= index %>.
    <%= landmark.name %>
    <ul>
      <li>Built in <%= landmark.year_completed %></li>
    </ul>
  </p>
<% end %>
