<h1>New York City's Historical Figures</h1>

<% @figures.each.with_index(1) do |figure, index| %>
  <h3>
    <%= index %>.
    <%= figure.name %>
  </h3>
  <p>Titles held:
    <ul>
      <% figure.titles.each do |title| %>
        <li><%= title.name %></li>
      <% end %>
    </ul>
  </p>
  <p>Landmarks:
    <% figure.landmarks.each do |landmark| %>
      <%= landmark.name %>
    <% end %>
  </p>
<% end %>
